/* Menu Déroulant */
.bloc1{
	display:inline-block;
	width:50px;
	height:50px;	
}

.bloc2{
	height :13px;
	/* vertical-align:middle; */
	transform: translateY(-50%);
	display:inline-block;

}
nav {
	width: 100%;
	background-color: #007bff;
	border-radius: 25px;
}

nav > ul {
	margin: 0px;
	padding: 0px;
}

nav li{
	list-style-type: none;
	border-radius: 25px;
}

nav > ul > li {
	float: left;
	position: relative;
}
nav > ul::after{
	content: "";
	display: table;
	clear: both;
}

.sousmenu {
	display: none;
}
nav input[type=checkbox] {
	display: none;
}

nav label{
	display: none;
}


nav > ul > li > a {
	padding: 20px 30px;
	color: #FFF;
	/* text-decoration: unset; */
	text-decoration : none;
}
nav > img  {
	padding: 10px 5px;
}

nav li:hover .sousmenu {
	display: inline-block;
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 0px;
	z-index: 1000;
}
nav > ul > li:hover a{
	padding: 15px 30px 20px 30px;
	text-decoration: underline;
}

.sousmenu {
	display: none;
}

.sousmenu li{
	border-bottom: 1px solid #FFF;
}

.sousmenu li a {
	padding: 15px 30px;
	font-size: 13px;
	color: #FFF;
	width: 270px;
}

/* .accueil a */
/* { */
	/* text-decoration : none; */
/* } */
/* .rechercher a */
/* { */
	/* text-decoration:none;	 */
/* } */
/* .compte a */
/* { */
	/* text-decoration:none; */
/* } */
/* .creneau a */
/* { */
	/* text-decoration:none;	 */
/* } */

.accueil:hover{
	border-top: 5px solid #f3f5f5;
	background-color: rgba(0,146,146,0.15);
	text-decoration: none;
}
.rechercher:hover{
	border-top: 5px solid #f3f5f5;
	background-color: rgba(0,146,146,0.15);
	text-decoration: none;
}
.creneau:hover{
	border-top: 5px solid #f3f5f5;
	background-color: rgba(0,146,146,0.15);
	text-decoration: none;
}
.compte:hover{
	border-top: 5px solid #f3f5f5;
	background-color: rgba(0,146,146,0.15);
	text-decoration: none;
}

.compte_user:hover{
	border-top: 5px solid #f3f5f5;
	background-color: rgba(0,146,146,0.15);
	text-decoration: none;
}


.accueil .sousmenu {
	background-color: rgb(0,146,146);
}

.rechercher  .sousmenu {
	background-color: rgb(0,146,146);
}

.compte .sousmenu {
	background-color: rgb(0,146,146);
}

.creneau  .sousmenu {
	background-color: rgb(0,146,146);
} 

.sousmenu li:hover a{
	color: #FFF;
}

.accueil .sousmenu li:hover{
	background-color: rgb(0,146,146);
}

.rechercher  .sousmenu li:hover{
	background-color: rgb(0,146,146);
}

.compte .sousmenu li:hover{
	background-color: rgb(0,146,146);
}

.creneau  .sousmenu li:hover{
	background-color: rgb(0,146,146);
}






/* menu responsive */

.menu-mobile{
	display: none;
}

nav input[type=checkbox]{
	display: none;
}

nav input[type=checkbox]:checked ~ ul{
	display: block;
}

@media screen and (max-width: 680px){
	.menu-mobile {
		display: block;
		color: #FFF;
		background-color: rgba(87, 188, 192,0);
		text-align: center;
		padding: 12px 0;
	}
	nav ul{
		display: none;
	}
	nav ul li , nav ul li a{
		width: 100%;
		text-align: center;
	} 

	nav ul li a, nav ul li:hover a{
		padding: 10px 0px;
	}

	nav li:hover .sousmenu{
		display: block;
		position: static;
	}

	.image_compte {
		text-align: center;
	}
}
/* Fin menu déroulant*/